@import url(https://fonts.googleapis.com/css?family=Jost:regular,600,700);

body {
  position: relative;
  height: 100svh;

  display: grid;
  grid-template-rows: auto 1fr auto;

  font-family: "Jost", sans-serif;
  color: $color-text;
  background-color: $color-bg;
}

body._lock {
  overflow: hidden;
}

[class*="__container"] {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  
  @include mobile {
  }
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}