.header {
  position: absolute;
  width: 100%;
  padding: 30px 15px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: $color-text-inv;
  
  z-index: 1;
  
  @include mobile {
    justify-content: flex-start;
    padding: 30px 10px;
  }

  &__logo {}
  &__nav {}
  &__number {
    color: inherit;
    text-decoration: none;
    font-size: rem(30);
    line-height: 160%;
    font-weight: 600;

    @include tablet {
      font-size: rem(20);
    }
    @include mobile {
      display: none;
    }
  }
  &__number-icon {
    display: none;
    @include mobile {
      display: block;
  
      & svg path {
        fill: $color-bg;
      }

      @include hover {
        fill: #fff;
      }
    }
  }

  &__item-border {
    &.burger {
      display: none;

      @include mobile {
        display: block;
        padding: 18px 15px;
        z-index: 2;
      }
    }
    &.number {
      @include mobile {
        padding: 15px 18px;

        margin-left: auto;
        margin-right: 12px;
      }
    }

    @include mobile {
      border: 1px solid $color-bg;
      border-radius: 10px;
    }
  }

  &__burger {
    display: none;

    @include mobile {
      display: block;
      width: 30px;
      height: 18px;
      position: relative;
      z-index: 2;
      cursor: pointer;

      & span {
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: all 0.2s;

        &:first-child {
          top: 0;
        }
        &:last-child {
          top: auto;
          bottom: 0;
          width: 50%;
        }
      }

      &._active {

        & span {
          transform: scale(0);
          
          &:first-child {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
          }
          &:last-child {
            transform: rotate(45deg);
            bottom: calc(50% - 1px);
            width: 100%;
          }
        }
      }
    }    
  }
}
.logo {
  font-size: rem(30);
  font-weight: 700;

  @include tablet {
    font-size: rem(20);
  }
}
.nav {
  @include mobile {
    position: absolute;
    z-index: 2;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100svh;
    background: $color-bg-inv;
    transition: left ease .3s;

    &._active {
      left: 0;
    }
  }
  
  &__list {
    display: flex;
    align-items: center;

    @include mobile {
      height: 100%;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__item:not(:last-child) {
    margin-right: 40px;

    @include tablet {
      margin-right: 20px;
    }
    @include mobile {
      margin-right: 0px;
      margin-bottom: 30px;
    }
  }

  &__link {
    font-size: rem(20);
    line-height: 160%;
    font-weight: 400;
    transition: outline .3s ease;
    position: relative;
    cursor: pointer;

    @include tablet {
      font-size: rem(16);
    }
    @include mobile {
      font-size: rem(30);
      font-weight: 700;
    }
 
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 2px;
      background-color: transparent;
      transition: background-color .3s ease;
    }

    @include hover {
      &::after {
        background-color: $color-text-inv; // Цвет линии при наведении
      }
    }
  }
}
